@inherits LayoutComponentBase

<PageTitle>CakeO'Clock Web Server</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        
        @* <div class="top-row px-4">
            <LoginDisplay></LoginDisplay>
                       
        </div> *@
        <LoginDisplay />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
