
<div class="nav-scrollable" style="background-color: gray;">
    <nav class="flex-column">

        <div class="nav-image px-3">
            <a href="/">
                <img src="images/logo.png" alt="Logo" style="height: 210px; display: block; margin: 0 auto; padding-bottom:10px; ">
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/learnBlazor/bindProp">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Bind Prop
            </a>
        </div>

        <AuthorizeView Roles="@roleAdmin">
            <div class="nav-item px-3">
                <a class="nav-link" href="/category">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Category
                </a>
            </div>
            <div class="nav-item px-3">
                <a class="nav-link" href="/product">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Product
                </a>
            </div>
        </AuthorizeView>

        <div class="nav-item px-3">
            <a class="nav-link" href="/orderlist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Orders
            </a>
        </div>
    </nav>
</div>

<style>
    .nav-item {
        color: white;
    }

    .nav-link {
        color: white;
        display: flex;
        align-items: center;
        padding: 10px;
        text-decoration: none;
    }

        .nav-link:hover {
            background-color: #555;
        }

    .nav-scrollable {
        display: block;
    }
</style>

@code {
    private string roleAdmin = Tangy_Common.SD.Role_Admin;
}
