
<div class="nav-scrollable" style="background-color: transparent;">
    <nav class="flex-column">

        <div class="nav-image px-3">
            <a href="/">
                <img src="images/logo.png" alt="Logo" style="height: 210px; display: block; margin: 0 auto; padding-bottom:10px; ">
            </a>
        </div>

        <div class="date-time">

            <h4 class="date">@DateTime.Now.ToString("MMMM dd, yyyy")</h4>
            <p class="time">@DateTime.Now.ToString("hh:mm:ss tt")</p>
        </div>


        <AuthorizeView Roles="@roleAdmin">
            <div class="nav-item px-3">
                <a class="nav-link" href="/userdetails">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> User Details
                </a>
            </div>
            <div class="nav-item px-3">
                <a class="nav-link" href="/category">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Category
                </a>
            </div>
            <div class="nav-item px-3">
                <a class="nav-link" href="/product">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Product
                </a>
            </div>
        </AuthorizeView>

        <div class="nav-item px-3">
            <a class="nav-link" href="/orderlist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Orders
            </a>
        </div>
    </nav>
</div>

<style>
    .nav-item {
        color: white;
    }

    .nav-link {
        color: white;
        display: flex;
        align-items: center;
        padding: 10px;
        text-decoration: none;
    }

        .nav-link:hover {
            background-color: #555;
        }

    .nav-scrollable {
        display: block;
    }
</style>

@code {
    private string roleAdmin = Tangy_Common.SD.Role_Admin;
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap" rel="stylesheet">