# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.vs/Tangy/FileContentIndex
/.vs
/BlazorFileUpload.Shared
/TangyWeb_API/bin
/TangyWeb_API/obj
/TangyWeb_API/Properties
/TangyWeb_API/uploads
/TangyWeb_API/TangyWeb_API.csproj.user
/TangyWeb_Client/bin/Debug/net7.0/wwwroot/_framework/blazor.boot.json
/TangyWeb_Client/bin/Debug/net7.0
/TangyWeb_Client/bin/Debug/net8.0
/TangyWeb_Client/bin/Release/net8.0
/TangyWeb_Client/obj
/TangyWeb_Client/Properties/PublishProfiles
/TangyWeb_Client/TangyWeb_Client.csproj.user
/TangyWeb_Server/bin
/TangyWeb_Server/obj
/TangyWeb_Server/Properties/PublishProfiles
/TangyWeb_Server/TangyWeb_Server.csproj.user
/Tangy_Business
/Tangy_Common/bin
/Tangy_Common/obj/Debug
/Tangy_Common/obj/Release/net8.0
/Tangy_Common/obj
/Tangy_DataAccess/bin
/Tangy_DataAccess/obj/Debug
/Tangy_DataAccess/obj/Release/net8.0
/Tangy_DataAccess/obj
/TangyWeb_Server/ScaffoldingReadMe.txt
/Tangy_Models
