@page "/Carousel"

<div class="slider">
    <section id="slider">
        <input type="radio" name="slider" id="s1" checked class="slider-input" />
        <input type="radio" name="slider" id="s2" class="slider-input" />
        <input type="radio" name="slider" id="s3" class="slider-input" />
        <input type="radio" name="slider" id="s4" class="slider-input" />
        <input type="radio" name="slider" id="s5" class="slider-input" />

        <label class="slider-label" for="s1" id="slide1"></label>
        <label class="slider-label" for="s2" id="slide2"></label>
        <label class="slider-label" for="s3" id="slide3"></label>
        <label class="slider-label" for="s4" id="slide4"></label>
        <label class="slider-label" for="s5" id="slide5"></label>


    </section>
</div>

<script>
    // Auto-moving functionality
    let currentSlide = 1;
    const slides = document.querySelectorAll('.slider-input');
    const totalSlides = slides.length;

    function nextSlide() {
        currentSlide = (currentSlide % totalSlides) + 1;
        document.getElementById(`s${currentSlide}`).checked = true;
    }

    function prevSlide() {
        currentSlide = (currentSlide === 1) ? totalSlides : currentSlide - 1;
        document.getElementById(`s${currentSlide}`).checked = true;
    }

    setInterval(nextSlide, 5000); // Change slide every 5 seconds
</script>


<style>
    #slider {
        position: relative;
        width: 60%;
        height: 40vw;
        margin: 80px auto;
        font-family: "Helvetica Neue", sans-serif;
        perspective: 1400px;
        transform-style: preserve-3d;
    }

    .slider-input {
        position: relative;
        display: none;
        top: 108%;
        left: 50%;
        width: 18px;
        height: 18px;
        margin: 0 15px 0 0;
        opacity: 0.4;
        transform: translateX(-83px);
        cursor: pointer;
    }

        .slider-input:nth-child(5) {
            margin-right: 0px;
        }

        .slider-input:checked {
            opacity: 1;
        }

    #slider .slider-label {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        color: white;
        font-size: 70px;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 400ms ease;
    }

    #slide1 {
        background-image: url("images/SlideImage.png");
    }

    #slide2 {
        background-image: url("images/SlideImage2.jpg");
    }

    #slide3 {
        background-image: url("images/SlideImage3.png");
    }

    #slide4 {
        background-image: url("images/SlideImage4.png");
    }

    #slide5 {
        background-image: url("images/Rectangle17.png");
    }

    /* Slider Functionality */

    /* Active Slide */
    #s1:checked ~ #slide1,
    #s2:checked ~ #slide2,
    #s3:checked ~ #slide3,
    #s4:checked ~ #slide4,
    #s5:checked ~ #slide5 {
        box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
        transform: translate3d(0%, 0, 0px);
    }

    /* Next Slide */
    #s1:checked ~ #slide2,
    #s2:checked ~ #slide3,
    #s3:checked ~ #slide4,
    #s4:checked ~ #slide5,
    #s5:checked ~ #slide1 {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
        transform: translate3d(15%, 0, -100px);
    }

    /* Next to Next Slide */
    #s1:checked ~ #slide3,
    #s2:checked ~ #slide4,
    #s3:checked ~ #slide5,
    #s4:checked ~ #slide1,
    #s5:checked ~ #slide2 {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
        transform: translate3d(30%, 0, -250px);
    }

    /* Previous to Previous Slide */
    #s1:checked ~ #slide4,
    #s2:checked ~ #slide5,
    #s3:checked ~ #slide1,
    #s4:checked ~ #slide2,
    #s5:checked ~ #slide3 {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
        transform: translate3d(-30%, 0, -250px);
    }

    /* Previous Slide */
    #s1:checked ~ #slide5,
    #s2:checked ~ #slide1,
    #s3:checked ~ #slide2,
    #s4:checked ~ #slide3,
    #s5:checked ~ #slide4 {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
        transform: translate3d(-15%, 0, -100px);
    }
</style>