@page "/IndexTiles"




<div class="container" style="background-image: url('images/Coconut.png'); ">
    <div class="text-column">
        <h2>Products</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>

        <a href="/ProductsPage">
            <button class="bake-button">Shop now</button>
        </a>
    </div>
    <div class="photo-column">
        <img src="images/product.png" alt="Photo" />
    </div>
</div>


<div class="container" style="background-image: url('images/about-bk.png'); ">
    <div class="text-column">
        <h2>About us</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>

        <a href="/About">
            <button class="bake-button">About us</button>
        </a>
    </div>
    <div class="photo-column">
        <img src="images/about.png" alt="Photo" />
    </div>
</div>




<div class="box"></div>
<div class="disc">
    <div class="text">
        <h2>A Price To Suit Everyone</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>

    </div>
</div>
<style>
    .disc {
        display: flex;
        justify-content: center;
        align-items: center;
        /* Adjust as needed */
    }

    .text {
        text-align: center;
        max-width: 400px;
        font-family: "Quicksand", sans-serif;
        color: dimgray;
    }

</style>


<div class="box"></div>

<div class="container" style="background-image: url('images/Coconut.png'); ">
    <div class="photo-column">
        <img src="images/outlet.png" alt="Photo" />
    </div>
    <div class="text-column">
        <h2>Our Outlets</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        <a href="/Outlets">
            <button class="bake-button">Our Outlets</button>
        </a>
    </div>

</div>

<style>
    
</style>
