.photos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1000px;
}

.text-center {
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.8);
}

.photo-tile {
    flex: 0 0 calc(25% - 40px);
    margin: 10px;
    text-align: center;
}

.caption {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Quicksand", sans-serif;
}

.photo-tile img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
