@page "/IndexCategories"


<div class="text-center">Categories</div>


<div class="photos-container">
    <div class="photo-tile">
        <img src="images/photo3.jpg" alt="Photo 1" />
        <figcaption class="caption">Caption 1</figcaption>
    </div>
    <div class="photo-tile">
        <img src="images/photo2.jpg" alt="Photo 2" />
        <figcaption class="caption">Caption 2</figcaption>
    </div>
    <div class="photo-tile">
        <img src="images/photo3.jpg" alt="Photo 3" />
        <figcaption class="caption">Caption 3</figcaption>
    </div>
    <div class="photo-tile">
        <img src="images/photo1.jpg" alt="Photo 4" />
        <figcaption class="caption">Caption 4</figcaption>
    </div>
</div>


<div class="box"></div>
<style>

</style>