
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    flex-wrap: wrap;
    
}


.text-column {
    flex: 1;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 70%;
    text-align: justify;
    font-family: "Quicksand", sans-serif;
}

.photo-column {
    flex: 1;
    display: flex; /* Set display to flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

    .photo-column img {
        max-height: 60%;
        max-width: 80%;
        
    }

.shop-button {
    display: block;
    margin-top: 10px; 
    padding: 5px 8px;
    background-color: white;
    color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .shop-button:hover {
        background-color: #0056b3;
    }



    .text-column h2, .text-column p {
        margin-top: 10px;   
    }

    .photo-column img {
        max-width: 100%;
        height: auto;  
    }

.disc {
    text-align: center;
}

@media (min-width: 768px) { /* Adjust styles for tablets and desktops */
    .container {
        padding: 40px 80px; 
    }

    .text-column, .photo-column {
        max-width: 50%; 
    }

    .text-column {
        padding: 0 20px; 
        text-align: justify;
    }

    .photo-column {
        padding: 0 20px; 
    }

    .text-column h2, .text-column p {
        margin-top: 0; 
    }
}


