@page "/SeasonsSpecial"



<div class="image-tiles">
    <h2>Seasons Special</h2>
    <p> page when looking at its layout.</p>
</div>

<div class="image-tiles">

    <div class="image-tile">
        <img src="images/Rectangle15.png" alt="Im1">
        <div class="description">Christmas Cake</div>
        <div class="rating">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
        </div>
    </div>
    <div class="image-tile">
        <img src="images/Rectangle14.png" alt="Im2">
        <div class="description">Banana Bread</div>
        <div class="rating">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
        </div>
    </div>
    <div class="image-tile">
        <img src="images/Rectangle16.png" alt="Im3">
        <div class="description">Caramal Cake</div>
        <div class="rating">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
        </div>
    </div>
    <div class="image-tile">
        <img src="images/Rectangle16.png" alt="Im4">
        <div class="description">Coffee Cake</div>
        <div class="rating">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
        </div>
    </div>
</div>

<div class="box"></div>



<div class="view-more-btn">

    <button class="view-more-btn">View More</button>


</div>


<style>
    .view-more-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin:10px;
    }

        .view-more-btn button {
            background-color: crimson;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .view-more-btn button:hover {
                background-color: brown;
            }
</style>

