

@page "/Favourite"

<div class="background-container" style="background-image: url('images/bk.png');">
    <NavMenu />
    
            <h3>Favourite</h3>
            <div class="box"></div>

            

       
        
        <Footer />
</div>
    


<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto&display=swap" rel="stylesheet">


<style>
    .box {
        height: 220px;
    }

    .background-container {
        background-size: cover;
        background-position: center;
    }


    .row {
        display: flex;
        padding-top: 50px;
    }


    .col-md-6 {
        flex: 0 0 50%;
    }


    h2 {
        color: #333;
        padding-left: 100px;
        font-family: "Quicksand", sans-serif;
    }



    .img-fluid {
        max-width: 90%;
        height: auto;
        justify-content: center;
    }

    .paragraph {
        margin-bottom: 20px;
        padding-left: 100px;
        font-size: 16px;
        line-height: 1.0;
        max-width: 90%;
        text-align: justify;
        font-family: "Quicksand", sans-serif;
    }

</style>