

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.bake-button {
    background-color: whitesmoke;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    text-shadow: 3px 3px 6px gray;
}

    .bake-button:hover {
        background-color: crimson;
        color: white;
        text-shadow: 3px 3px 6px gray;
    }

.image-container {
    display: flex;
    justify-content: center;
}

.vertical-space {
    height: 20px;
}

.panel {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-list {
    list-style-type: none;
    padding-top: 40px;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

    .category-list li {
        margin-bottom: 50px;
        cursor: pointer;
    }

        .category-list li:hover,
        .category-list li.selected {
            color: crimson;
            background-color: lightgray;
            border-radius: 5px;
            padding: 10px;
        }


.search-container {
    margin-bottom: 20px;
}

    .search-container input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

        .search-container input[type=text]:focus {
            outline: none;
            border: 2px solid dodgerblue;
        }




.backgroundBlack30 {
    background-color: rgba(0, 0, 0, 0.3); /* Black with 30% opacity */
}


.h3 {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-success {
    font-family: "Quicksand", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 30px;
}

.card-h2 {
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.card-product {
    background-color: rgba(255, 255, 255,0.5);
}

.card-img-top {
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}



.fav {
    background-color: rgba(220, 20, 60, 0.5);
    border-color: white;
    color: white;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Quicksand", sans-serif;
}

    .fav:hover {
        background-color: rgba(255, 20, 60, 0.8);
        color: white;
        border-color: white;
        font-family: "Quicksand", sans-serif;
    }


.h5 {
    font-size: 25px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    color: rgba(255, 20, 60, 0.8);
}

.price {
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    font-family: "Signika Negative", sans-serif;
    margin:10PX;
}

.text-info-d {
    font-size:15px;
    color:blue;
}

.badge {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4px 8px;
    border-radius: 4px;
}
@media (max-width: 500px) {

    .card-product {
        flex: 1 0 calc(50% - 20px);
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        width: 50% !important;
        text-align: center;
    }
}