@page "/product/create"
@page "/product/edit/{id:int}"

@inject ICategoryRepository _categoryRepository
@inject IProductRepository _productRepository
@inject NavigationManager _navigationManager
@inject IFileUpload _fileUpload
@inject IJSRuntime _jsRuntime

@attribute [Authorize]

<div>
    <h3 class="card-title text-primary mb-3 ml-3">@Title Product</h3>

    <div class="col-md-10">
        @if (IsLoading)
        {
            <div class="text-center">
                <img src="images/loading.gif">
            </div>
        
        }
        else
        {
            <EditForm Model="Product" OnValidSubmit="UpsertProduct">
            <DataAnnotationsValidator/>
           
            <div class="form-group">
                <label>Name</label>
                    <InputText @bind-Value="Product.Name" class="form-control"></InputText>
                    <ValidationMessage For="()=>Product.Name" />
            </div>
                <div class="form-group">
                    <label>Color</label>
                    <InputText @bind-Value="Product.Color" class="form-control"></InputText>
                    <ValidationMessage For="()=>Product.Color" />
                </div>
                <div class="form-group">
                    <label>Description</label>

                  
                    <SfRichTextEditor @bind-Value="Product.Description" ></SfRichTextEditor>
                    <ValidationMessage For="()=>Product.Description" />
                </div>
                
                <div class="row pt-3">
                    <div class="form-group col-6">
                        <div class="form-check">                            
                            <InputCheckbox @bind-Value="Product.ShopFavourites" class="form-check-input"></InputCheckbox>
                            <label class="form-check-label">Is Shop Favourites</label>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <div class="form-check">
                            <InputCheckbox @bind-Value="Product.CustomerFavourites" class="form-check-input"></InputCheckbox>
                            <label class="form-check-label">Is Customer Favourites</label>
                        </div>
                    </div>
                    <div class="form-group col-6">
                       <label>Category</label><br/>
                            <InputSelect @bind-Value="Product.CategoryId" class="form-sele">
                                <option value="0" disabled="disabled" selected>--Select Category--</option>
                            @foreach(var cat in Categories)
                            {
                                <option value="@cat.Id">@cat.Name</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="()=>Product.CategoryId" /><br />                        
                    </div>
                    <div class="form-group pt-4 col-6">
                        @* <InputFile OnChange="HandleImageUpload"></InputFile> *@
                        <InputFile OnChange="HandleImageUpload" MaxFileSize="2048576"></InputFile>
                    </div>
                </div>
            
                
            <div class="form-group py-2">
                <button class="btn btn-primary">@Title</button>
                    <NavLink href="product" class="btn btn-secondary">Back to Index</NavLink>
                
            </div>
        </EditForm>
        
        }

        
    </div>
    
        <div class="col-md-2">
            <img src="@Product.ImageUrl" class="w-100" />
        </div>

</div>

@code {



}
