@page "/About"

<div class="background-container" style="background-image: url('images/bk.png');">
    <NavMenu />
    
<div class="row" >
    <div class="col-md-6">
        <h2>About Our Bakery</h2>
            <div class="box"></div>
        <p>Welcome to [Bakery Name], where we create delicious cakes for all occasions! Our bakery was founded with a passion for baking and a commitment to using only the finest ingredients to craft mouthwatering treats that delight our customers.</p>
        <p>At [Bakery Name], we believe that every celebration deserves a special touch, which is why we offer a wide range of cakes for weddings, birthdays, anniversaries, and more. From classic flavors to custom designs, our talented bakers can bring your vision to life.</p>
        <p>Customer satisfaction is our top priority, and we strive to provide exceptional service from the moment you walk through our doors. Whether you're picking up a last-minute treat or planning a grand event, you can trust [Bakery Name] to exceed your expectations.</p>
        <p>Thank you for choosing [Bakery Name] for all your cake needs. We look forward to serving you!</p>
    </div>
    <div class="col-md-6">
        <img src="images/cake2.jpg" alt="Cake Photo" class="img-fluid" />
    </div>
</div>

<Footer/>
</div>

<style>
    /* Style for the background container */
    .background-container {
        background-size: cover;
        background-position: center;
        /* Align text content to the center */
    }



    /* Style for the row containing content */
    .row {
        display: flex; /* Use flexbox for layout */
        padding-top:50px;
    }

    /* Style for the columns */
    .col-md-6 {
        flex: 0 0 50%; /* Take up 50% of the width */

    }

    /* Style for the about section */
    h2 {
        
        color: #333; /* Set text color */
        padding-left: 100px;
    }

    p {
        margin-bottom: 20px; /* Add some space between paragraphs */
        padding-left: 100px;
        font-size: 16px; /* Set font size */
        line-height: 1.0; /* Set line height for better readability */
        max-width: 90%;
        text-align: justify;
    }

    /* Style for the cake photo */
    .img-fluid {
        max-width: 90%; /* Make sure the image doesn't exceed its container */
        height: auto; /* Maintain aspect ratio */
        justify-content: center;
    }

</style>