@page "/customorder"


@using Microsoft.AspNetCore.Authorization
@using System.Net.Http.Headers
@using TangyWeb_Client.Serivce.IService



@inject HttpClient Http
@inject NavigationManager _navigationManager
@inject IJSRuntime _jsRuntime
@inject ILocalStorageService _localStorage
@inject IProductService _productService
@inject IPaymentService _paymentService
@inject IOrderService _orderService
@attribute [Authorize]

@* @inject RichTextEditorImageSettings _imageSetings *@



@if (IsProcessing)
{
    <div style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
        <img src="images/ajax-loader.gif" />
    </div>
}
else
{
<div class="background-container" style="background-image: url('images/bk.png');">
   <NavMenu />
    <div class="mt-4 mx-4 px-md-5 mx-md-5 p-1">





            <div class="make">
            <h2>Make your own Cake with us</h2>
            <div class="vertical-space1"></div>

            <div class="paragraph">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

            </div>
            </div>


            <div class="row justify-content-center p-2 my-3 ">

                <div class="col-12 col-lg-12 p-4 ml-4 ml-md-0 mt-4 mt-md-0 border">
                    <EditForm Model="Order.OrderHeader" OnValidSubmit="HandleCheckout">
                        <div class="row px-2 text-success border-bottom">
                            <div class="col-7 py-1">
                                <p class="form-title">Enter Details</p>

                            </div>
                        </div>
                        <div class="row">
                            <!-- Left Column -->
                            <div class="col-md-6">
                                

                                <div class="vertical-space2"></div>
                                <!-- DropdownComponent.razor -->
                                <div>
                                    <div class="text">
                                    <label for="eventSelection">Select Event:</label>
                                    </div>
                                    <div class="vertical-space1"></div>
                                    <select @bind="selectedEvent" id="eventSelection" class="form-control">
                                        <option value="Birthday">Birthday</option>
                                        <option value="Wedding">Wedding</option>
                                        <option value="Party">Party</option>
                                        <option value="Anniversary">Anniversary</option>
                                        <option value="Celebration">Celebration</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    
                                    <div class="vertical-space1"></div>

                                    @if (selectedEvent == "Other")
                                    {
                                           
                                        <div class="mt-2">
                                            <div class="text">
                                            <label for="otherEvent">Write Your Own Choice:</label>
                                            </div>
                                                <input type="text" @bind="otherEvent" id="otherEvent" class="form-control  custom-input" />
                                        </div>
                                        
                                    }
                                </div>

                                @code {
                                    private string selectedEvent { get; set; } = "Birthday";
                                    private string otherEvent { get; set; }
                                }
                            <div class="vertical-space2"></div>

                            <div>
                                <div class="text">
                                    <label for="weightSelection">Select Approximate Weight:</label>
                                </div>
                                <div class="vertical-space1"></div>
                                <select @bind="selectedWeight" id="weightSelection" class="form-control">
                                    <option value="1kg">1kg</option>
                                    <option value="2kg">2kg</option>
                                    <option value="3kg">3kg</option>
                                    <option value="4kg">4kg</option>
                                    <option value="5kg">5kg</option>
                                    <option value="Custom">Custom Weight</option>
                                </select>

                                <div class="vertical-space1"></div>

                                @if (selectedWeight == "Custom")
                                    {

                                        <div class="mt-2">
                                            <div class="text">
                                                <label for="customWeight">Enter Custom Weight:</label>
                                            </div>
                                            <input type="text" @bind="customWeight" id="customWeight" class="form-control  custom-input" />
                                        </div>

                                    }
                                </div>

                                @code {
                                    private string selectedWeight { get; set; } = "2kg";
                                    private string customWeight { get; set; }
                            }
                            <div class="vertical-space2"></div>
                                <div class="form-group">
                                <div class="text">
                                    <label>Description</label>
                                </div>
                                <div class="vertical-space1"></div>
                                    <SfRichTextEditor @bind-Value="Order.OrderHeader.CustomerDescription"></SfRichTextEditor>
                                    <ValidationMessage For="()=>Order.OrderHeader.CustomerDescription" />
                                </div>



                            <div class="form-group pt-2">
                                <label class="text">Add a Sample Image</label>
                                <div class="vertical-space1"></div>
                                <ValidationMessage For="() => Order.OrderHeader.CustomerImage"></ValidationMessage>
                            </div>
                            <InputFile OnChange="@OnInputFileChange" multiple />
                            @if (fileNames.Count > 0)
                                {
                                    <ul>
                                        @foreach (var fileName in fileNames)
                                        {
                                            Order.OrderHeader.CustomerImage = fileName;
                                            <li>
                                                File: @fileName
                                                <br>
                                                <span>
                                                    Stored File Name: @GetStoredFileName(fileName)
                                                </span>
                                                <button @onclick="@(() => DownloadFile(GetStoredFileName(fileName), fileName))">Download file</button>
                                            </li>
                                        }
                                    </ul>
                                }
                            </div>
                            <!-- Right Column -->
                            <div class="col-md-6">
                                
                                <div class="form-group pt-2">
                                    <label class="text">Name</label>
                                    <InputText @bind-Value="Order.OrderHeader.Name" type="text" class="form-control custom-input" />
                                    <ValidationMessage For="() => Order.OrderHeader.Name"></ValidationMessage>
                                </div>
                                <div class="form-group pt-2">
                                    <label class="text">Phone</label>
                                    <InputText @bind-Value="Order.OrderHeader.PhoneNumber" type="text" class="form-control custom-input" />
                                    <ValidationMessage For="() => Order.OrderHeader.PhoneNumber"></ValidationMessage>
                                </div>
                                <div class="form-group pt-2">
                                    <label class="text">Email</label>
                                    <InputText @bind-Value="Order.OrderHeader.Email" type="text" class="form-control custom-input" />
                                    <ValidationMessage For="() => Order.OrderHeader.Email"></ValidationMessage>
                                </div>
                                <div class="form-group pt-2">
                                    <label class="text">Street Address</label>
                                    <InputText @bind-Value="Order.OrderHeader.StreetAddress" type="text" class="form-control custom-input" />
                                    <ValidationMessage For="() => Order.OrderHeader.StreetAddress"></ValidationMessage>
                                </div>
                                <div class="form-group pt-2">
                                    <label class="text">City</label>
                                    <InputText @bind-Value="Order.OrderHeader.City" type="text" class="form-control custom-input" />
                                    <ValidationMessage For="() => Order.OrderHeader.City"></ValidationMessage>
                                </div>
                                <div class="form-group pt-2">
                                    <label class="text">State</label>
                                    <InputText @bind-Value="Order.OrderHeader.State" type="text" class="form-control custom-input" />
                                    <ValidationMessage For="() => Order.OrderHeader.State"></ValidationMessage>
                                </div>
                                <div class="form-group pt-2">
                                    <label class="text">Postal Code</label>
                                    <InputText @bind-Value="Order.OrderHeader.PostalCode" type="text" class="form-control custom-input" />
                                    <ValidationMessage For="() => Order.OrderHeader.PostalCode"></ValidationMessage>
                                </div>
                            </div>
                        </div>
                        <DataAnnotationsValidator />
                    <div class="vertical-space2"></div>
                        
                        <div class="form-group pt-2">
                            <button type="button" class="btn btn-primary form-control custom-button" @onclick="ConfirmOrderNow">Order Now</button>
                        </div>
                    </EditForm>
                </div>

                

        </div>
    </div>
    <Footer/>
    </div>

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto&display=swap" rel="stylesheet">

    <style>

        .form-title {
            font-size: 40px;
            margin: 0;
            color:rgba(0, 0, 0, 0.8);
            font-family: "Quicksand", sans-serif;

        }
        .custom-input {
            border-color: rgba(0, 0, 0, 0.8); 
            border-radius: 8px; 
            margin-bottom:10px;
            margin-top:5px;
        }

        .custom-button {
            background-color: rgba(0, 0, 0, 0.8); 
            border-color: black; 
            color: white;
            border-radius: 8px;
            font-family: "Quicksand", sans-serif;
        }

            .custom-button:hover {
                background-color: rgba(220, 20, 60, 0.8); 
            }

        .text {
            
            font-size: 16px;
            color: rgba(0, 0, 0, 0.8);
            font-family: "Quicksand", sans-serif;
        }

        .vertical-space1 {
            height: 5px;
        }

        .vertical-space2 {
            height: 20px;
        }

        .make {
            display: flex;
            flex-direction: column;
            align-items: center; 
            max-width: 800px;
            margin: 0 auto;
            font-family: "Quicksand", sans-serif;
        }

        .paragraph {
            text-align: center; 
        }



    </style>


}



@code {
    private OrderDTO Order { get; set; } = null;
    public bool IsProcessing { get; set; } = false;
    private IEnumerable<ProductDTO> Products { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IsProcessing = true;

        List<ShoppingCart> cart = await _localStorage.GetItemAsync<List<ShoppingCart>>(SD.ShoppingCart);
        if (cart == null)
        {
            cart = new List<ShoppingCart>();
        }
        Products = await _productService.GetAll();

        Order = new()
            {
                OrderHeader = new()
                {

                    OrderTotal = 0,
                    Status = SD.Status_Pending

                },
                OrderDetails = new List<OrderDetailDTO>()
            };

        foreach (var item in cart)
        {
            ProductDTO product = Products?.FirstOrDefault(u => u.Id == item.ProductId);
            ProductPriceDTO productPrice = product?.ProductPrices?.FirstOrDefault(u => u.Id == item.ProductPriceId);

            if (product != null && productPrice != null)
            {
                OrderDetailDTO orderDetailDTO = new()
                    {
                        ProductId = item.ProductId,
                        Size = productPrice.Size,
                        Count = item.Count,
                        Price = productPrice.Price,
                        ProductName = product.Name,
                        Product = product,
                    };

                Order.OrderDetails.Add(orderDetailDTO);
                Order.OrderHeader.OrderTotal += (item.Count * productPrice.Price);
            }
        }


        if (await _localStorage.GetItemAsync<UserDTO>(SD.Local_UserDetails) != null)
        {
            var userInfo = await _localStorage.GetItemAsync<UserDTO>(SD.Local_UserDetails);
            Order.OrderHeader.UserId = userInfo.Id;
            Order.OrderHeader.Name = userInfo.Name;
            Order.OrderHeader.Email = userInfo.Email;
            Order.OrderHeader.PhoneNumber = userInfo.PhoneNumber;

        }

        IsProcessing = false;
    }

    private async Task ConfirmOrderNow()
    {
        try
        {
            IsProcessing = true;


            // Update the order details or any other logic as needed
            Order.OrderHeader.Status = SD.Status_Pending;

            // Create a DTO to represent the order details if needed
            var orderDTO = new OrderDTO
                {
                    OrderHeader = Order.OrderHeader,
                    OrderDetails = Order.OrderDetails.ToList() // Make a copy if needed
                };

            var result = await _orderService.Make(orderDTO);

            await _localStorage.SetItemAsync(SD.Local_OrderDetails, result);

            // Additional logic if needed after confirming the order directly

            if (result.OrderHeader != null || result.OrderDetails != null)
            {
                await _jsRuntime.ToastrSuccess("Order Placed successfully");
                _navigationManager.NavigateTo("/orderconfirmation");
            }
            else
            {
                await _jsRuntime.ToastrFailure("Faild to Place the Order! Please fill the nessary information...!");
            }
        }
        catch (Exception e)
        {
            await _jsRuntime.ToastrFailure(e.Message);
        }
        finally
        {
            IsProcessing = false;
        }
    }

    private async Task HandleCheckout()
    {
        try
        {


            IsProcessing = true;
            var paymentDto = new StripePaymentDTO()
                {
                    Order = Order
                };



            var result = await _paymentService.Checkout(paymentDto);

            Order.OrderHeader.SessionId = result.Data.ToString();

            var orderDTOSaved = await _orderService.Create(paymentDto);

            //     var StripeSessionAndPI = result.Data.ToString().Split(';');

            //     Order.OrderHeader.SessionId = StripeSessionAndPI[0];
            //     Order.OrderHeader.PaymentIntentId = StripeSessionAndPI[1];

            //

            await _localStorage.SetItemAsync(SD.Local_OrderDetails, orderDTOSaved);

            await _jsRuntime.InvokeVoidAsync("redirectToCheckout", result.Data.ToString());
        }
        catch (Exception e)
        {
            await _jsRuntime.ToastrFailure(e.Message);
        }
    }

    private int maxAllowedFiles = int.MaxValue;
    private long maxFileSize = long.MaxValue;
    private List<string> fileNames = new();
    private List<UploadResultDTO> uploadResults = new();

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        using var content = new MultipartFormDataContent();

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            var fileContent = new StreamContent(file.OpenReadStream(maxFileSize));
            fileContent.Headers.ContentType = new MediaTypeHeaderValue(file.ContentType);

            fileNames.Add(file.Name);

            content.Add(
                content: fileContent,
                name: "\"files\"",
                
                fileName: file.Name);
        }

        var response = await Http.PostAsync("/api/File", content);
        var newUploadResults = await response.Content.ReadFromJsonAsync<List<UploadResultDTO>>();

        if (newUploadResults is not null)
        {
            uploadResults = uploadResults.Concat(newUploadResults).ToList();
        }
    }

    private string? GetStoredFileName(string fileName)
    {
        var uploadResult = uploadResults.SingleOrDefault(f => f.FileName == fileName);
        if (uploadResult is not null)
            return uploadResult.StoredFileName;

        return "File not found.";
    }

    private async Task DownloadFile(string storedFileName, string originalFileName)
    {
        var response = await Http.GetAsync($"/api/File/{storedFileName}");

        if (!response.IsSuccessStatusCode)
        {
            await _jsRuntime.InvokeVoidAsync("alert", "File not found.");
        }
        else
        {
            var fileStream = response.Content.ReadAsStream();
            using var streamRef = new DotNetStreamReference(stream: fileStream);
            await _jsRuntime.InvokeVoidAsync("downloadFileFromStream", originalFileName, streamRef);
        }
    }
}

