@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Julius Sans One;
}
/* Track */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #494346;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #494346;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* NavBar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: #fff;
}
.nav-names {
  flex-grow: 1;
  text-align: center;
  padding: 30px 0;
}

.cakelogo {
  width: 250px;
  position: absolute;
  top: 0px;
}
.nav-item {
  font-size: 25px;
  text-decoration: none;
  color: white;
  padding: 0 20px;
  font-weight: bold;
  cursor: pointer;
}
.nav-item-drop {
  font-size: 30px;
}
.left-icon {
  color: #494346;
  font-size: 30px;
  cursor: pointer;
}
.iconmain {
  margin: 0 15px;
}

.nav-name-logo {
  width: 600px;
  margin: 20px 0;
}
.nav-body {
  text-align: center;
}
.bake-btn {
  margin: 20px 0;
  color: black;
  font-weight: bolder;
  font-size: 30px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 8px;
  border: 0;
}
