@page "/Contactus"


<div class="background-container" style="background-image: url('images/bk.png');">
    <NavMenu />

    <div class="row">

        <div class="col-md-6 d-flex justify-content-center">
            <img src="images/cake2.jpg" alt="Contact Photo" class="img-fluid" />
        </div>
        <div class="col-md-6 ">
            <h2>Contact Us</h2>
            <div class="box"></div>

            <div class="paragraph">
                <p>If you have any questions, inquiries, or feedback, please feel free to get in touch with us using the contact information below:</p>
                <p><strong>Email:</strong> info@example.com</p>
                <p><strong>Phone:</strong> +1 (123) 456-7890</p>
                <p><strong>Address:</strong> 123 Bakery Street, Cityville, State, Country</p>
            </div>
            <div class="box"></div>
            <a href="/Outlets">
                <button class="bake-button">Our Outlets</button>
            </a>
        </div>

        
    </div>

    <Footer />
</div>

<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto&display=swap" rel="stylesheet">

<style>
    .box {
        height: 20px;
    }

    .background-container {
        background-size: cover;
        background-position: center;
    }


    .row {
        display: flex;
        padding-top: 50px;
    }


    .col-md-6 {
        flex: 0 0 50%;
        padding-left: 20px;
    }


    h2 {
        color: #333;
        font-family: "Quicksand", sans-serif;
    }



    .img-fluid {
        max-width: 90%;
        height: auto;
    }

    .paragraph {
        margin-bottom: 20px;
        
        font-size: 16px;
        line-height: 1.0;
        max-width: 80%;
        text-align: justify;
        font-family: "Quicksand", sans-serif;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bake-button {
        background-color: whitesmoke;
        border: none;
        color: rgba(0, 0, 0, 0.8);
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
        font-family: "Quicksand", sans-serif;
    }

        .bake-button:hover {
            background-color: crimson; /* Darker green on hover */
        }
</style>
