@page "/learnBlazor/blazorJs"
@inject IJSRuntime _JsRuntime

<h3>BlazorJs</h3>

<div class="row">
    <button class="btn btn-secondary mt-2" style="width: 200px;" @onclick="TestConfirmBox">Test Confirm Button</button>
</div>

<div class="row">
    <button class="btn btn-success  mt-2" style="width: 200px;" @onclick="ToastrSuccess">Toastr  Success</button>
    <button class="btn btn-danger mt-2" style="width: 200px;" @onclick="ToastrFailure">Toastr  Failiure</button>
</div>
<br />
<div class="row">
    <button class="btn btn-success mt-2" style="width: 200px;" @onclick="SweetAlertSuccess">SweetAlert Success</button>
    <button class="btn btn-danger mt-2" style="width: 200px;" @onclick="SweetAlertFailure">SweetAlert Failiure</button>
</div>



<div class="row">
    @if (ConfirmResult)
    {
        <p>Confirm has been made!</p>
    }
    else
    {
        <p>Confirm Pending!</p>
    }
</div>

@code {
    private string ConfirmMessage = " Are you sure you want to click?";
    private bool ConfirmResult { get; set; }    

    private async Task TestConfirmBox()
    {
        ConfirmResult = await _JsRuntime.InvokeAsync<bool>("confirm", ConfirmMessage);
    }

    private async Task ToastrSuccess()
    {
        await _JsRuntime.ToastrSuccess("Operation successful");
    }

    private async Task ToastrFailure()
    {
        await _JsRuntime.ToastrFailure("Operation Faild");
    }

    private async Task SweetAlertSuccess()
    {
        await _JsRuntime.InvokeVoidAsync("ShowSwal","success", "Task completed successfully!");
    }

    private async Task SweetAlertFailure()
    {
        await _JsRuntime.InvokeVoidAsync("ShowSwal", "error", "Task Faild!");
    }
}
