@page "/category"

@inject ICategoryRepository _categoryRepository
@inject  IJSRuntime _jsRuntime

@using Tangy_Common

@attribute [Authorize(Roles = SD.Role_Admin)]


<_DeleteConfiremation IsParentComponentProcessing="IsLoading" ConfirmationChanged="ConfirmDeleteClick"> </_DeleteConfiremation>

<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Category List</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="category/create" class="btn btn-primary form-control">Add New Category</a>
    </div>
    <div class="col-12">
        @if(Categories.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var objCat in Categories)
                    {
                        <tr>
                            <td>
                                @objCat.Name
                            </td>
                            <NavLink href="@($"category/edit/{objCat.Id}")" class="btn-info btn">Edit</NavLink>
                            <button class="btn btn-danger" @onclick="() => HandleDelete(objCat.Id)">Delete</button>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            if (IsLoading)
            {
                //loading gif
                <div class="text-center">
                    <img src="images/loading.gif">
                </div>
            }
            else
            {
                //no records
                <p>No records found.</p>
            }
        }
    </div>
</div>


@code {
    private IEnumerable<CategoryDTO> Categories { get; set; } = new List<CategoryDTO>();
    public bool IsLoading { get; set; }
    private int DeleteCategoryId { get; set; } = 0;

    

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadCategories();            
        }
    }

    private async Task LoadCategories()
    {
        IsLoading = true;
        StateHasChanged();
        Categories = await _categoryRepository.GetAll();
        IsLoading = false;
        StateHasChanged();
    }

    private void HandleDelete(int id)
    {
        DeleteCategoryId = id;
        _jsRuntime.InvokeVoidAsync("ShowDeleteConfiremationModel");
    }

    public async Task ConfirmDeleteClick(bool isConfirmed)
    {
        IsLoading = true;
        if(isConfirmed && DeleteCategoryId != 0)
        {
            //delete
            //await Task.Delay(5000);
            await _categoryRepository.Delete(DeleteCategoryId);
            await LoadCategories(); ;
            await _jsRuntime.InvokeVoidAsync("HideDeleteConfiremationModel");
        }
        IsLoading = false;
    }
}
