@page "/ForgotPassword"

@using TangyWeb_Client.Serivce.IService;
@inject IAuthenticationService AuthService
@inject IJSRuntime JS

<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto&display=swap" rel="stylesheet">

<div class="background-container" style="background-image: url('images/bk.png');">
    <NavMenu />

    <div class="vertical-space"></div>

    @if (ShowErrors)
    {
        <div class="alert alert-danger" role="alert">
            <p>@Error</p>
        </div>
    }

    <div class="card transparent-card d-flex justify-content-center align-items-center">
        <div class="card-body">
            <h2 class="title">Forgot Password ?</h2>
            <div class="vertical-space"></div>
            <h5 class="card-title">Please enter your email</h5>
            <EditForm Model="resetModel" OnValidSubmit="HandleForgotPassword">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group mt-2 ">
                    
                    <InputText Id="email" Class="form-control custom-width" @bind-Value="resetModel.Email" placeholder="Enter your email address" />
                    <ValidationMessage For="@(() => resetModel.Email)" />
                </div>
                <div class="vertical-space2"></div>

                <div class="form-group mt-2 ">
                    <button type="submit" class="btn btn-primary custom-button">Submit</button>
                </div>
            </EditForm>
        </div>
    </div>




    <div class="vertical-space"></div>
    <Footer />
</div>

@code {
    
}


