 login.css 

.image-container {
    display: flex;
    justify-content: center;
}

.custom-card {
    height: 550px;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 20px;
}

.custom-black-button {
    background-color: rgba(0, 0, 0, 0.8);
    border-color: black;
    color: white;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

    .custom-black-button:hover {
        background-color: rgba(220, 20, 60, 0.8);
    }

.custom-heading {
    color: rgba(0, 0, 0, 0.8);
    font-size: 30px;
    font-family: 'Julius Sans One', sans-serif;
}

.vertical-space {
    height: 15px;
}

@media (max-width: 768px) {
    .custom-card {
        width: 90%;
    }
}

@media (max-width: 576px) {
    .custom-card {
        height: 550px;
        width: 300px;
        margin: 0 auto;  Center the card horizontally 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  Center the content vertically 
        align-content: center
    }
}
