@page "/login"


<div class="qt-box qt-background">

    <NavMenu />


</div>



<style>

    .qt-background {
        background: url(images/Index/cake10_2.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        position: relative;
    }
</style>

<div class="background-container" style="background-image: url('images/bg-gold-4.png');">

    <div class="vertical-space"></div>

    <div style="">
        <EditForm Model="SignInRequest" OnValidSubmit="LoginUser">
            <DataAnnotationsValidator />

            <div class="py-4">
                <div class="row form-group">
                    <div class="col-12 offset-sm-3 col-md-6">
                        <div class="card border custom-card">
                            <div class="card-body px-lg-4 pt-4">
                                <img src="images/logo.png" alt="Logo" style="height: 180px; display: block; margin: 0 auto;">
                                <h3 class="col-12 text-center py-2 custom-heading">
                                    <strong>Sign In</strong>
                                </h3>
                                @if (ShowSignInErrors)
                                {
                                    <p class="text-center text-danger">@Errors</p>
                                }
                                <div class="py-2">
                                    <InputText @bind-Value="SignInRequest.UserName" id="email" placeholder="Email..." class="form-control mb-2" />
                                    <ValidationMessage For="(()=>SignInRequest.UserName)" /> <!-- Place ValidationMessage inside EditForm -->
                                </div>
                                <div class="py-2">
                                    <InputText @bind-Value="SignInRequest.Password" type="password" placeholder="Password..." id="password" class="form-control mb-2" />
                                    <ValidationMessage For="(()=>SignInRequest.Password)" /> <!-- Place ValidationMessage inside EditForm -->
                                </div>
                                <div class="py-2">
                                    <a href="/forgotpassword" class="text-blue m-2">Did you forget Password?</a>
                                </div>
                                <div class="py-2" style="display: flex; justify-content: center;">
                                    <div style="margin-bottom: 10px;">
                                        <button type="submit" class="btn btn-success custom-black-button">Sign in</button>
                                    </div>
                                </div>
                                <div class="py-2" style="text-align: center;">
                                    <span>New to CakeOClock?</span>
                                    <span style="margin-left: 5px;"><a href="/register" style="color: navy; text-decoration: none;">Register as a new user</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

        </EditForm>
    </div>
</div>
<Footer />