@page "/resetpassword"

@using TangyWeb_Client.Serivce.IService;

<EditForm Model="ResetPasswordModel" OnValidSubmit="ResetPassword">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="password">New Password</label>
        <InputText @bind-Value="ResetPasswordModel.NewPassword" id="password" type="password" class="form-control" />
        <ValidationMessage For="(()=>ResetPasswordModel.NewPassword)" />
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <InputText @bind-Value="ResetPasswordModel.ConfirmPassword" id="confirmPassword" type="password" class="form-control" />
        <ValidationMessage For="(()=>ResetPasswordModel.ConfirmPassword)" />
    </div>
    
    <button type="submit" class="btn btn-primary">Reset Password</button>
</EditForm>

@code {
    private ResetPasswordDTO ResetPasswordModel { get; set; } = new ResetPasswordDTO();
    [Inject]
    public IAuthenticationService _authSerivce { get; set; }

    private async Task ResetPassword()
    {
        var result = await _authSerivce.ResetPassword(ResetPasswordModel);
        //var response = await Http.PostJsonAsync<HttpResponseMessage>("api/Account/ResetPassword", ResetPasswordModel);

        if (result)
        {
            // Handle success, such as showing a success message or redirecting to another page
        }
        else
        {
            // Handle failure, such as displaying an error message to the user
        }
    }
}
